*.pyc
*.pyo
__pycache__/
__pycache__/*
*.egg-info/
dist/
build/

# Django
backend/staticfiles/
backend/media/
backend/logs/*.log

# Environment
.env
.env.*
!.env.prod

# Database
*.sqlite3
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/
redis_data/
